@import '../base/variables';

.advantages {
    min-height: 470px;
    padding: 70px 0 65px 0;
    background: #F6F6F6;;
    &__header {
        color: $black;
        text-align: center;
    }
    &__icon {
        width: 255px;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        color: $black;
        margin-top: 60px;
        img {
            display: block;
            margin: 0 auto;
            width: 70px;
            margin-bottom: 35px;
        }
    }
    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        margin-top: 20px;
        a {
            color
        }
        
    }
}