@import '../base/variables';

.advantages {
    min-height: 470px;
    padding: 70px 0 65px 0;
    background: #F6F6F6;;
    &__header {
        color: $black;
        text-align: center;
    }
    &__icon {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 230px;
    }
    &__icons {
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        color: $black;
        margin-top: 60px;
        img {
            display: block;
            margin: 0 auto;
            width: 70px;
            margin-bottom: 35px;
        }
    }
    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        margin-top: 20px;
        color:#0D0D0D;
        a {
            color:$red;
        }
        
    }
    &__icon {
        &_animated {
            animation: heartbeat 1s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}