@import '../base/variables';
.consultation {
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url(../../../src/image/bg2.png) center (center/cover) no-repeat;
    &__header {
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        color: $white;
    }
    &__subheader {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: $white;
    }
    .error {
        border: 1px solid $red;
    }
    label.error {
        border: none;
        color: rgb(29, 187, 140);
        margin-bottom: 15px;
    }
}