

@import '../base/variables';
@import '../base/animations';


@import './promo';
@import './header';
@import './buttons';
@import './advantages';
@import './consultation';
@import './forms';
@import './carousel';
@import './catalog';
@import './feed';
@import './footer';
@import './modal';
@import './media';
@import './pageup';

@import '../libs/bootstrap-reboot.min';
@import '../libs/slick';
* {
    font-family: 'MuseoModerno', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto; 
} 
